
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Raleway", sans-serif;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 10px;
    position: sticky;
    top: 0;
    left: 0;
}

.nav-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.nav-li {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-li li{
    list-style: none;
    padding: 0 10px;
    position: relative; 
}

.nav-li li a{
    text-decoration: none;
    color: #424247;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.bye-btn{
    border: 1px;
    padding: 3px;
    border-radius: 9px;
    background-color: #a9f09f;
}

.banner{ 
    height: 500px;
    width: 1200px;
    background-size: cover;
    border-radius: 13px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 10, 0.00) 100%), url("images/banner.png");
}

.ban-text h3{
    text-align: center;
    font-size: 35px;
    padding-top: 140px;
    font-family: "Raleway", sans-serif;
    color: #FFF;
}
.ban-text .p-po{
    color:#2ae90dda;
}

.ban-text p{
    color: #FFF;
    font-size: 14px;
    text-align: center;
}
.t-btn{
    justify-content: center;
    margin-top: 30px;
    margin-left: 557px;
    text-align: center;
    border: 1px;
    padding: 6px;
    border-radius: 9px;
    background-color: #2ae90dda;
}
.offer h1{
    text-align: center;
    font-size: 50px;
    font-family: "Raleway", sans-serif;
}
.c-cupon{
    display: flex;
    gap: 40px;
}
.gold{
    align-items: center;
    height: 190px;
    width: 480px;
    background-color: #ffbf0f;
    display: flex;
    border-radius: 21px;
    margin-left: 95px;
}
.part-one{
    padding: 10px;
    margin-left: 95px;
}
.gray{
    color: #03071280;
}
.pink{
    align-items: center;
    height: 190px;
    width: 480px;
    background-color: #f78c9c;
    display: flex;
    border-radius: 21px;
}
.of-btn{
    justify-content: center;
    margin-top: 30px;
    margin-left: 557px;
    text-align: center;
    border: 1px solid #2ae90dda;
    padding: 8px;
    border-radius: 6px;
    color: #2ae90dda;
    margin-bottom: 90px;
}
.j-text{
    text-align: center;
}
.j-text h2{
    font-size: 30px;
}
.j-main{
    background-color: #FFFFFF;
    border-radius: 16px;
    height: 400px;
    width: 1020px;
    display: flex;
    margin-right: 90px;
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.p-one{
    margin-left: 39px;
    margin-right: 39px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.icon{
    display: flex;
}
.i-two{
    display: flex;
    height: 40px;
    width: 148px;
    border-radius: 10px;
    background-color: #a9f09f;
}
.i-one{
    display: flex;
}
.j-i-t{
    height: 10px;
    width: 300px;
}
.i-one img{
   margin-right: 30px;
   height: 50px;
   width: 50px;
}
.t-on{
    margin-top: 9px;
    justify-content: space-between;
    padding: 10px;
    display: flex;
}
.t-tw{
    margin-top: 9px;
    justify-content: space-between;
    padding: 10px;
    display: flex;
}
.all-t{
    margin-top: 37px;
    height: 250px;
    width: 800px;
    background-color: #f7f8f8;
    border-radius: 17px;
}
.ttt{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 20px;
}
.t-t-on{
    background-color: #0307120d;
    height: 37px;
    width: 200px;
    margin-left: 20px;
    border-radius: 14px;
    padding: 10px;
}
.t-t-tw{
    background-color: #0307120d;
    height: 37px;
    width: 200px;
    margin-left: 20px;
    border-radius: 14px;
    padding: 10px;
}
.t-t-thee{
    background-color: #0307120d;
    height: 37px;
    width: 200px;
    margin-left: 20px;
    border-radius: 14px;
    padding: 10px;
}
.pTwo{
    text-align: center;
    margin-top: 130px;
}
.pTwo h2{
    font-size: 15px;
}
.pTwo p{
    font-size: 15px;
}
.pTwo img{
    height: 40px;
    width: 40px;
}
.seat{
    display: flex;
}
.seat-one{
    height: 400px;
    width: 820px;
    border-radius: 18px;
    background-color: rgb(255, 255, 255);
}
.s-t{
    display: flex;
    height: 30px;
    width: 30px;
}
.s-t-one{
    margin-right: 490px;
    margin-left: 40px;
    display: flex;
}
.s-t-one p{
    text-align: center;
}

.sea{
    color: rgba(15, 214, 15, 0.811);
}
.seat-no-one{
    display: flex;
}
.seat-1{
    height: 30PX;
    width: 80px;
    background-color: rgb(247, 248, 248);
    text-align: center;
    margin-left: 80px;
    margin-top: 40px;
    justify-content: space-between;
}
.seat-2{
    margin-left: 20px;
    height: 700px;
    width: 420px;
    border-radius: 18px;
    background-color: rgb(255, 255, 255);
    background-color: rgb(247, 248, 248);
}
.seat-2 h2{
    font-size: 10px;

}
.do-s{
    display: flex;
    justify-content: space-between;
    gap: 45px;
    width: auto;
}
.con{
    display: flex;
}
.con h5{
    background-color: #a9f09f;
    height: 10px;
    width: 20px;
    border-radius: 10px;

}
.on-an{
    display: flex;
    gap: 220px;
}
.on-an h3,
 p{
    font-size: 18px;
}
.jgj{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.jgj button{
    background-color: rgb(29, 209, 0);
    border: 0px;
    border-radius: 9px;
    padding: 9px;
    color: #FFF;
}
.jgj input{
    border: 0px;
    border-radius: 6px;
    padding: 9px;
}
.gra{
    display: flex;
    justify-content: space-between;
}
.gdas input{
    border: 0px;
    padding: 10px;
}
.next{
    border: 0px;
    background-color: rgb(29, 209, 0);
    text-align: center;
    color: #FFF;
    width: 100%;
    height: 40px;
    border-radius: 20px;
}
.te{
    display: flex;
    gap: 70px;
}
.te p{
    font-size: 17px;
}
.hero{
    height: 400px;
    width: 600px;
    border-radius: 15px;
    justify-content: center;
    margin-top: 150px;
    margin-left: 299px;
    text-align: center;
    background-color: #a9f09f;
}
.hel{
    color: rgb(39, 174, 96);
}
.the-p{
    color: rgb(74, 74, 74);
}
.tha-p{
    color: rgb(127, 126, 126);
}
.con-btn{
    border-radius: 12px;
    border: 0px;
    width: 180px;
    height: 50px;
    color: #FFF;
    background-color: rgb(39, 174, 96);
}

.footer{
    background-color: black;
    height: 400px;
    width: 100%;
}
.foot-all{
    display: flex;
    justify-content: space-between;
}
.foot-text h2{
    padding-top: 90px;
    padding-left: 60px;
    color: #FFF;
}
.foot-text p{
    color: rgba(255, 255, 255, 0.8);
    padding-left: 60px;
}
.foot-app{
    padding-top: 90px;
    padding-right: 60px;
}
.foot-app h3{
    color: #FFF;
}
.one-all{
    display: flex;
}
.one-all p{
    padding-top: 0px;
    font-size: 10px;
    color: #FFF;
}
.one-all h2{
    padding-top: 0px;
    font-size: 20px;
    color: #FFF;
}
.down-foot{
    margin-top: 20px;
    display: flex;
}
.down-foot .p-t{
    font-size: 16px;
    color: #ffffff;
}
.down-foot>p{
    color: rgba(255, 255, 255, 0.8);
    padding-left: 60px;
}
.seat-1 h2,
span{
    display: none;
}
.seat-1 span{
    display: none;
    margin-left: 30px;
}

